body {
    background-color: azure;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    color: black;
    text-align: center;
    outline-style: solid
}
h2{ color:red;
    outline-style: solid
    text-decoration: underline;
    
}
