 html {
     background-color: red;
    font-family: "Times New Roman", Times, serif;
}

}
#profilepic img{
    float: center;
}

h1 {
  color: white;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
    position: fixed;
   border-style: solid;
  border-width: 5px;
    border-color:black;
}

h2 {
  color:balck;
  font-size: 25px;
  line-height: 40px;
  text-align: left;
    margin-bottom: auto;
}

h3 {
  color: balck;
  font-size: 26px;
  font-weight: 700;
    text-align: center;   
}
h4{ color: balck;
   font-size: 16px;
   line-height: 20px;
    text-align: center;    
}
ul{
    list-style-type: square;
    padding: 0;
    list-style-position: inside;
    margin: 0;
}
 
li { 
color:black;
    font-size:16px;
    text-align: center;
    padding: 0;
     margin: 0;
}
p {
  color: black;
  font-size: 16px;
  margin: 25px;
}
